<!doctype html>
<head>
  <title>Comika</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<div id="container_index">
    <div id="title"><a href="/">Comika</a></div>
    <form action="/search" method="GET">
        <input id="search_field" type="text" name="q" placeholder="e.g. Walking Dead"> <button id="search_button" type="submit">SEARCH</button>
    </form>
    <p id="nick">Made by <a id="special_link" href="https://twitter.com/nickblackoddiac">Nicholas Black</a> using sales data from <a id="special_link" href="https://comichron.com">Comichron.com</a></p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>